name: build_and_publish

on:
  workflow_run:
    workflows: [tag_bump]
    branches: [main]
    types:
      - completed

permissions:
  contents: write
  packages: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Check out code
        with:
          fetch-depth: '0'
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19
      # Verify only golang or Docker files have changed before we bump
      - name: Get changed files
        id: changed_files
        uses: tj-actions/changed-files@v41
        with:
          files: |
            go.*
            main.go
            *goreleaser*
            *Dockerfile
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Docker Login
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser
        if: steps.changed_files.outputs.any_changed == 'true'
        uses: goreleaser/goreleaser-action@v5
        with:
          args: release --rm-dist
          distribution: goreleaser
          version: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
